.carrousel-main-container {
    position: relative;
    width: 100%;
    height: 390px;
    overflow: hidden;
}

.viewport {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.track {
    display: flex;
    height: 100%;
    will-change: transform;
    /*pointer-events: none;*/
}

.slide {
    min-width: 100%;
    height: 100%;
    position: relative;
    flex-shrink: 0;
    cursor: pointer;
}

.slide img {
    
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.carrousel-caption {
    position: absolute;
    bottom: 20px;
    left: 10rem;
    color: #ffffffc0;
}


#carrousel-control-prev,
#carrousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
    height: 100%;
    width: 60px;
    z-index: 10;
    pointer-events: auto;
}

#carrousel-control-prev {
    left: 0;
}

#carrousel-control-next {
    right: 0;
}

#carrousel-control-prev i,
#carrousel-control-next i {
    font-size: 2rem;
    color: white;
    transition: text-shadow 0.3s ease;
}
#carrousel-control-prev:hover,
#carrousel-control-next:hover {
    background: rgba(255, 255, 255, 0.08);
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.25);
}
