body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: start;
}

.main-container {
    margin-top: 100px;
    height: 500px;
    width: 600px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,.3);
    padding: 2rem;
}