@font-face {
  font-family: "Amazon Ember";
  src: url("./assets/fonts/AmazonEmber_Rg.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Amazon Ember";
  src: url("./assets/fonts/AmazonEmber_Bd.ttf") format("truetype");
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Amazon Ember", Arial, sans-serif;
}
