body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: start;
}

.form-container {
    display: flex;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,.3);
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    width: 400px;
    padding: 1rem;
}

.form-container form {
    display: flex;
    flex-direction: column;
    padding: .5rem;
    margin-top: 0.2rem;
    align-items: center;
}

.form-container form .form-data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-data label {
    margin-top: 10px;
}

.form-data input {
    margin-top: 5px;
    border: 1px gray solid;
    box-shadow: 0 0 15px rgba(72, 87, 223, 0.4);
    width: 290px;
    height: 36px;
    padding: 4px;
    border-radius: 5px;
}

.form-data input:hover {
    border: 1px gray solid;
    box-shadow: 0 0 15px rgba(26, 38, 255, 0.6);
}

.form-data input:focus {
    outline: none;
    box-shadow: 0 0 15px rgba(26, 38, 255, 0.6);
}

.form-data select {
    margin-top: 5px;
    border: 1px gray solid;
    box-shadow: 0 0 15px rgba(72, 87, 223, 0.4);
    width: 290px;
    height: 36px;
    padding: 4px;
    border-radius: 5px;
}


.form-container button {
    margin-top: 1rem;
    border: none; 
    background-color: #e4d831;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 200px;
    border-radius: 25px;
    font-weight: 600;
    cursor: pointer;
}

.sub-main button:hover {
    background-color: #e9da04;
}